body{
   font-family: 'Nunito', sans-serif;
   background: #212121;
   color: #fff;
   padding: 0;
   margin: 0;
}

h1,h2,h3,h4, p{
  margin: 0;
}

.header h4 a, a:link, a:visited, a:active{
  color: #fff;
}

.about{
  color: #fff;
  margin-bottom:10px; 
}

.more{
  text-align: right;
  margin-top: 15px;
}

.more a:link, a:visited, a:active{
  color: #d35400;
}

.description{
  text-align: justify;
}

.content{
  position: absolute;
  left: 100px;
  width: 100%;
  overflow-x: hidden;
}

.project-content{
  padding-top: 50px;
  padding-bottom:50px;
  padding-left: 5%;
  padding-right:5%;
  background-color: #fff;
  color: #212121;
  border-bottom: solid 3px #d35400;
}

.header{
  margin-bottom: 50px;
  padding: 20px;
  background-color:#d35400;
  border-bottom: solid 1px #fff;
  height: 100px;
  text-align: center;
  margin-top: -100px;
  opacity: 0;

  animation-duration: 1s;
  animation-name: fadeInHeader;
  animation-fill-mode: forwards;
}

@keyframes fadeInHeader{
  from{
    margin-top: -100px;
    opacity:0;
  }
  to{
    margin-top: 0;
    opacity: 1;
  }
}

.contact a:link, a:visited, a:active{
  color: #d35400;
}

.contact input[type=text], textarea{
  border: 0;
  padding: 10px;
  width: 100%;
  border: solid 1px #202020;
  margin-top: 10px;
}

.contact input[type=submit]{
  border: 0;
  padding: 10px;
  background-color: #202020;
  color: #fff;
  margin-top: 10px;
}

.more{
  position: absolute;
  bottom: 40px;
  right: 50px;
}

.right{
  text-align: right;
}

@media screen and (min-width:48m){
  .contact h3{
    text-align: center;
  }
}

.col-md-6, .col-md-12{
  margin-bottom:30px;
}

.col-md-6 .project-content{
  height: 300px;
}

.center{
  text-align: center;
}

.projects{
  margin-top: 250px;
  opacity: 0;
}

.about, .projects, .contact{
  opacity: 0;
  animation-duration: 1s;
  animation-name: fadeInProjects;
  animation-fill-mode: forwards;
}

@keyframes fadeInProjects{
  from{
    margin-top: 250px;
    opacity:0;
  }
  to{
    margin-top: 0;
    opacity: 1;
  }
}


.main{
   min-hight:100%;
   min-height:100vh;
   overflow-x: hidden;
}

.blankSpace{
  height: 50px;
}

.footer{
  background-color:#d35400;
  border-top: solid 1px #fff;
  height: 40px;
  margin-top: -40px;
}

@media screen and (min-width:48m){
  .about, .title, .icon{
    margin: 0 auto;
    text-align: center;
  }
  .title{
    margin-top:15px; 
  }
  .about{
    margin-bottom:15px;
  }
}
